<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Comvisa{% endblock %}</title>
        {% block css %}<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('image/comvisa-logo.svg') }}" />
        <link rel="stylesheet" href="{{ asset('node_modules/uikit/dist/css/uikit.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    </head>
    <body>        
{% block nav %}
<div class="uk-position-relative">
  {% block img %}
  {% endblock %}
    <div class="size-test uk-position-top uk-position-fixed navbar-base">
        <nav class=" uk-navbar-transparent" style="zindex:0;" uk-navbar>
            <div class="uk-navbar-left" style="zindex:0;" uk-navbar>
                <a href="#offcanvas-slide" class="uk-button uk-button-muted icon-hover" uk-toggle style="z-index:980;"><span uk-navbar-toggle-icon  class="icon-hover"></span></a><p>Menu</p>
                <div id="offcanvas-slide" uk-offcanvas>
                  <div class="uk-offcanvas-bar">
                    <ul class="size-test uk-nav uk-nav-default">
                      <li><a href="/"> <img class="logo-comvisa" src="{{ asset('image/comvisa-logo.svg') }}"></a></li>
                      <li class="uk-nav-divider"></li>
                      {% for rubrique in rubriques %}
                          <li><a href="{{ path('rubrique_show', {'id': rubrique.id }) }}">{{ rubrique.nom }}</a></li>
                      {% endfor %}
                      <li class="uk-nav-divider"></li>
                      <li><a href="/annonce" title="Annonce">Annonce</a></li>
                      <li class="uk-nav-divider"></li>
                      <li><a href="/mentionlegale">Mention Legale</a></li>
                      <li class="uk-nav-divider"></li>
                      <li><a href="/contact">Contact</a></li>
                      <li class="uk-nav-divider"></li>
                    </ul>
                    <ul class="uk-iconnav">
                      {% for siteInfo in siteInfos %}
                        {% if siteInfo.facebook == true %}
                          <li><a href="#" uk-icon="icon: facebook"></a></li>
                          {% else %}
                        {% endif %}
                        {% if siteInfo.instagram == true %}
                          <li><a href="#" uk-icon="icon: instagram"></a></li>
                          {% else %}
                        {% endif %}
                        {% if siteInfo.linkedin == true %}
                          <li><a href="#" uk-icon="icon: linkedin"></a></li>
                          {% else %}
                        {% endif %}
                          {% if siteInfo.twitter == true %}
                          <li><a href="#" uk-icon="icon: twitter"></a></li>
                          {% else %}
                        {% endif %}
                          {% if siteInfo.google == true %}
                          <li><a href="#" uk-icon="icon: google"></a></li>
                          {% else %}
                        {% endif %}
                      {% endfor %}
                  </ul>
                  </div>
                </div>
            </div>
        </nav>
    </div>
    
</div>        
{% endblock %}
{% block body %}{% endblock %}
<script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('node_modules/uikit/dist/js/uikit.js') }}"></script>
<script type="text/javascript" src="{{ asset('node_modules/uikit/dist/js/uikit-icons.js') }}"></script>
{% block javascript %}{% endblock %}
    </body>
</html>

{# <div id="offcanvas-slide" uk-offcanvas="" class="uk-offcanvas uk-open" style="display: block;">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
          <ul class="uk-nav uk-nav-default">
            <li><a href="/">Home</a></li>
            <li class="uk-nav-divider"></li>
            {% for rubrique in rubriques %}
                <li><a href="rubrique/{{ rubrique.id }}">{{ rubrique.nom }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div> #}

       {# <a href="#offcanvas-slide" class="uk-button uk-button-muted" uk-toggle>Open</a>
      <div id="offcanvas-slide" uk-offcanvas>
        <div class="uk-offcanvas-bar">
          <ul class="uk-nav uk-nav-default">
            <li><a href="/">Home</a></li>
            <li class="uk-nav-divider"></li>
            {% for rubrique in rubriques %}
                <li><a href="rubrique/{{ rubrique.id }}">{{ rubrique.nom }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div> #}