{% extends 'base.html.twig' %}
{% block body %}
    <div class="uk-child-width-auto" uk-grid>
{% for annonce in annonces %}
        <div class="uk-section  uk-margin-left uk-card try">
            <div class="uk-card-media-top uk-card-default">
            	<div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
	                {% if annonce.photo != null %}
	            			<img class="img uk-align-center" src="/uploads/Photo/{{ annonce.photo }}" alt="{{ annonce.titre }}" >
	        		{% endif %}
            	</div>
            	<div class="uk-card-body uk-text-center ">
            		<h3 class="uk-card-title">{{ annonce.titre|raw }}</h3>
            			<div class="uk-card">	
            				<span>Type Annonce : </span>{{ annonce.type_annonce|raw }}
            			</div>
            			{% if annonce.texte|length > 255 %}
            				<div class="uk-card">
            					<p>{{ annonce.texte[:110]|raw }} ... </p>
            				</div>
        				{% else %}
        					<div class="uk-margin-remove">
        						<p>{{ annonce.texte|raw }}</p>
        					</div>
        				{% endif %}
					<a class="uk-button uk-button-default" href="annonce/{{ annonce.id }}" >Plus d'info</a>
            	</div>		
        	</div>
    </div>  				
{% endfor %}
</div>

{% endblock %}
