{% extends 'base.html.twig' %}
{% block body %}
	{% for rubrique in rubriques %}
			<h3>{{ rubrique.nom }}</h3>			
	            <tr>
	                <th>Rubrique N°</th>
	                <td>{{ rubrique.id }}</td><br>
	            </tr>
	            <tr>
	                <th>Titre : </th>
	                <td>{{ rubrique.texte|raw }}</td><br>
	            </tr>
		</div>
	{% endfor %}
	{% for annonce in annonces %}
	<h3>{{ annonce.titre }}</h3>
		<tr>
			<th>Annonce N°</th>
			<th>{{ annonce.id }}</th>
		</tr>
		<tr>
			<th>Titre : </th>
			<th>{{ annonce.titre }}</th>
		</tr>
		<tr>
			<th>texte :</th>
			<th>{{ annonce.texte|raw }}</th>
		</tr>
		<tr>
			<th>type d'annonce :</th>
			<th>{{ annonce.type_annonce }}</th>
		</tr>
	{% endfor %}

{% endblock %}
